@charset "UTF-8";

.message {
	width: 30%;
	color: red;
	margin: 1%;
	position: relative;
	left: 10%;
}

.titles {
	margin: 1.5%;
}

#header {
	width: 100%;
	border-bottom: 1px solid;
}

.content {
	background-color: #FAFAFA;
	border: 1px solid;
	margin: 0 10%;
	height: 30%;

}

.inp {
	padding-left: 5%;
}

.subm {
	text-align: center;
	width: 20%;
	height: 6%;
	position: absolute;
	left: 40%;
}

.inp-box {
	position: absolute;
	left: 25%;
}

.for {
	margin: 3%;
}

#back {
	position: absolute;
	right: 10%;
	bottom: 5%;
}

.button-back {
	height: 35px;
	border: solid 1px;
	border-radius: 5px;
}